{% extends 'base.html' %}
{% block content %}
<h2>Transactions</h2>
<table class="table">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Invoice ID</th>
            <th>Product line</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Tax</th>
            <th>Total</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ transaction.invoice_id }}</td>
            <td>{{ transaction.product_line }}</td>
            <td>{{ transaction.unit_price }}</td>
            <td>{{ transaction.quantity }}</td>
            <td>{{ transaction.tax }}</td>
            <td>{{ transaction.total }}</td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
